@{
    ViewData["Title"] = "My Tickets";
}

<div class="mytickets-section">
    <h5 class="mytickets-header">My Tickets</h5>
    <div class="bg-transparent mytickets-card">
        <div class="mytickets-inner">
        </div>
    </div>
</div>
