@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
    
}
<!--Working-->

<body class="login-background">
    <div>
        @Html.AntiForgeryToken()
    </div>
    <div class="container py-5 login-container">
        <div class="flex-cent">
            <div class="p-md-5 card text-black">
                <div class="text-center" style="padding: 0 70px;">
                    <img src="~/img/logo.png"
                            style="width: 185px;" alt="logo">
                </div>
                <form method="post" action="/Account/Login" id="loginForm">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" class="form-control"
                                asp-for="Email" placeholder="Enter Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">@Password</label>
                        <div class="input-group">
                            <input type="password" id="password" class="form-control"
                                   asp-for="Password" placeholder="Enter password" />
                            <span class="input-group-text" id="toggle-password">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center">
                        <button class="btn btn-block login-btn mb-3" type="submit">
                            @Login
                        </button>
                        <div>
                            <a asp-controller="Account" asp-action="Register" class="forgot">Create an account</a>
                        </div>
                        @* <div>
                            <a asp-controller="Account" asp-action="ForgotPass" class="forgot">Forgot my password</a>
                        </div> *@
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }

        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            toastr.success(successMessage);
        }

        document.getElementById('toggle-password').addEventListener('click', function () {
            var passwordInput = document.getElementById('form2Example22');
            var icon = this.querySelector('i');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        });
    </script>
}