:root {
    --background-color1: #f1f1f1;
    --background-color2: #212529;
    --text-color-main: #3D729A;
    --text-color-dark: #FFFFFF;
    --data-color1: #212529;
    --data-color2: #FFFFFF;

    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    background-color: var(--background-color1);
    overflow: hidden;
}

.sidebar {
    height: 100vh;
    background-color: #3D729A;
    padding-top: 20px;
    position: fixed;
    transition: width 0.3s;
    width: 70px;
}

    .sidebar.shrink {
        width: 60px;
    }

    .sidebar .logo {
        text-align: center;
        margin-bottom: 20px;
    }

        .sidebar .logo img {
            width: 40px;
        }

        .sidebar .logo label {
            color: white;
            font-size: 18px;
            display: block;
            margin-top: 10px;
            transition: opacity 0.3s;
        }

    .sidebar.shrink .logo label {
        opacity: 0;
        visibility: hidden;
    }

    .sidebar ul {
        padding: 0;
        list-style-type: none;
    }

        .sidebar ul li {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

    .tooltip {
        display: none !important;
        position: absolute;
        top: -20px;
        left: calc(100% + 15px);
        z-index: 3;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        opacity: 0;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
        z-index: 1;
    }

        .sidebar ul li img{
            width: 22px;
        }

            .sidebar ul li:hover {
                background-color: #F1F1F1;
            }

            .sidebar li:hover .tooltip {
                opacity: 1;
                pointer-events: auto;
                transition: all 0.4s ease;
                top: 50%;
                transform: translateY(-50%);
            }

                .sidebar ul li:hover .menu-icon {
                    filter: invert(50%) sepia(33%) saturate(518%) hue-rotate(162deg) brightness(91%) contrast(89%);
                }

.active {
    background-color: #F1F1F1;
}

    .active .menu-icon {
        filter: invert(50%) sepia(33%) saturate(518%) hue-rotate(162deg) brightness(91%) contrast(89%);
    }

.sidebar ul li a {
    color: #F1F1F1;
    display: flex;
    align-items: center;
    text-decoration: none;
    z-index: 1000;
}

    .sidebar ul li a i {
        margin-right: 15px;
    }

    .sidebar ul li a span {
        transition: opacity 0.3s;
        padding-left: 20px;
    }

.sidebar.shrink ul li a span {
    opacity: 0;
    visibility: hidden;
}

.topbar {
    background-color: #3D729A;
    padding: 10px 15px;
    display: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

    .topbar .logo img {
        width: 40px;
    }

    .topbar .toggle-button {
        color: white;
        background: none;
        border: none;
        font-size: 24px;
    }

.dropdown-menu {
    background-color: #3D729A;
    position: absolute;
    top: 100%;
    width: 50%;
    right: 0;
    z-index: 1000;
    display: none;
}

    .dropdown-menu.show {
        display: block;
    }

    .dropdown-menu a {
        color: white;
        padding: 10px 20px;
        display: block;
        text-decoration: none;
    }
    .dropdown-menu button:hover{
        background-color: #3D729A !important;
        color: #fff;
    }

    .page-header {
        color: var(--text-color-main);
    }

.card-report {
    border: 1px solid #3D729A;
    border-radius: 9px;
}


.total {
    color: var(--text-color-main);
}

.txt-info {
    color: #353535;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: -10px;
}

.labels {
    color: var(--text-color-main);
    font-size: 1rem;
    font-weight: 500;
}

.chart-header {
    text-align: center;
    color: var(--text-color-main);
    margin-bottom: 40px;
}

table {
   border-collapse: collapse;
   width:100%;
}

th {
    color: var(--text-color-main);
}


th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--text-color-main);
    color: var(--data-color);
}

.category-cell {
    color: var(--text-color-main);
}

hr {
    border-width: 1px;
    border-color: #3D729A;
    margin-top: -1px;
    margin-left: -50px;
    margin-right: -30px;
}

.active2 {
    color: var(--text-color-main);
    font-weight: 600;
    border-bottom: 2px solid var(--text-color-main);
}

.nav-link {
    color: #4f7a9a;
}

.borderleft {
    border-left: 1px solid var(--text-color-main);
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
}

.line {
    border-top: 1px solid var(--text-color-main);
}

.category-list {
    color: var(--text-color-main);
}

.setting-list {
    color: var(--text-color-main);
}

.text-color {
    color: var(--data-color1);
}

.set-card {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid #999999;
    transition: background-color 0.3s, border-color 0.3s;
}

.category-header {
    color: var(--text-color-main);
}

.number-of-tickets {
    margin-top: -2px;
    color: var(--text-color-main);
    font-size: 1rem;
}

/* Custom drawer styles for Bootstrap 4 */
.custom-drawer {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #F1F1F1;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1050;
    transition: right 0.3s ease;
}

    .custom-drawer.show {
        right: 0;
    }

.custom-drawer-header {
    padding: 15px;
}

.custom-drawer-body {
    padding: 20px;
}

.drawer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    display: none;
}

    .drawer-backdrop.show {
        display: block;
    }


.text-input {
    background-color: #F1F1F1;
    border: 1px solid #3D729A;
    border-radius: 9px;
}

    .text-input:focus {
        background-color: #F1F1F1;
    }

.select-input {
    background-color: #F1F1F1;
    border: 1px solid #3D729A;
    border-radius: 9px;
}

    .select-input:focus {
        background-color: #F1F1F1;
    }

.save-btn {
    width: auto;
    background-color: #3D729A;
    color: #ffffff;
    border-radius: 9px
}

.assign-btn, .add-btn {
    width: auto;
    color: #3D729A;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 9px;
    padding: 5px 20px;
    border: 1px solid #3D729A;
}

    .assign-btn:hover, .add-btn:hover {
        background-color: #3D729A;
        color: #fff;
        border: 1px solid #3D729A;
    }

.container {
    max-width: none !important;
    margin: 0 !important;
}

.max-height {
    height: calc(100vh - 150px);
}

.view-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding: 7px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
    .view-filter p {
        line-height: 1;
        margin-bottom: 0;
    }

    .view-filter:hover, .active3 {
        background-color: #dcdcdc;
    }

        div::-webkit-scrollbar {
        display: none !important;
    }

.header th:nth-child(1), .body td:nth-child(1) {width: 2%;}
.header th:nth-child(2), .body td:nth-child(2) {width: 5%;}
.header th:nth-child(3), .body td:nth-child(3) {width: 7%;}
.header th:nth-child(4), .body td:nth-child(4) {max-width:15%;}
.header th:nth-child(5), .body td:nth-child(5) {width: 15%;}
.header th:nth-child(6), .body td:nth-child(6) {width: 10%;}
.header th:nth-child(7), .body td:nth-child(7) {width: 6%;}
.header th:nth-child(8), .body td:nth-child(8) {width: 12%;}
.header th:nth-child(9), .body td:nth-child(9) {width: 12%;}
.header th:nth-child(10), .body td:nth-child(10) {width: 6%;}


.bb {
    width: 100%;
    border-bottom: 1px solid #3D729A;
}
.responses {
    height: 50vh;
    overflow:auto;
    padding: 0 20px;
}
    .responses::-webkit-scrollbar {
        display: none !important;
    }

.description {
    width: 100%;
    height: 22vh;
}

    .description textarea {
        outline: none;
        width: 100%;
        height: 18vh;
        background-color: #F1F1F1;
        resize: none;
        border: 1px solid #3D729A;
        padding: 10px 5px;
    }

.submit-ticket {
    width: 100%;
}

    .submit-ticket button {
        background-color: #3D729A;
        color: #fff;
    }
        .submit-ticket button:hover {
            background-color: #508ebd;
            color: #fff;
        }
        .submit-ticket button::after {
            background-color: #508ebd;
            color: #fff;
        }
    .submit-ticket .dropdown-menu {
        width: 0 !important;
        background-color: #fff;
    }
        .submit-ticket .dropdown-menu button {
            background-color: #fff;
            color: #3D729A;
        }
            .submit-ticket .dropdown-menu button:hover {
                background-color: #508ebd;
                color: #fff;
            }

.attachment-icon {
    cursor: pointer;
    width: 24px;
    filter: invert(50%) sepia(33%) saturate(518%) hue-rotate(162deg) brightness(91%) contrast(89%);
    transition: transform 0.2s ease-in-out;
}

    .attachment-icon:hover {
        filter: invert(50%) sepia(33%) saturate(518%) hue-rotate(162deg) brightness(70%) contrast(89%);
        transform: scale(1.02);
    }

#fileList {
    gap: 5px;
    width: 100%;
    font-size: 14px;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #3D729A;
    padding: 2px 7px;
    border-radius: 5px;
}

    .file-item span {
        margin-right: 10px;
    }

.remove-btn {
    background-color: none !important;
    color: #000;
    border: none;
    border-radius: 3px;
    padding: 2px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

    .remove-btn:hover {
        background-color: none !important;
    }

.c-reply .r-desc {
    width: 80%;
    padding: 10px;
    background-color: #FFFDE1;
    border-radius: 5px;
    font-size: 15px;
}

.s-reply .pp {
    filter: grayscale(100%);
}

.s-reply .r-desc {
    width: 80%;
    padding: 10px;
    background-color: #E4E8EB;
    border-radius: 5px;
    font-size: 15px;
}