.login-btn {
    width: 180px;
    background-color: #3D729A;
    color: #ffffff;
}

.register-btn {
    border-color: #3D729A;
    color: #3D729A;
}

    .register-btn:hover {
        background-color: #3D729A;
        color: #ffffff;
    }



.register-box {
    width: 600px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.login-background {
    background-image: url('/img/background.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    overflow: hidden;
}

.forgot {
    color: #3D729A;
    font-size: 0.8rem;
}

.login-container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.card {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    border: none;
}

.flex-cent {
    display: block;
    align-content: center;
    justify-content: center;
}
